<h1>Let's play Longest Word!</h1>

<h3>Here is your grid:<%= @grid.join(" ")  %></h3>
<p>***********************************************</p>
<form action="/score" method="get">
  <h2> What's your best shot? </h2>
  <input type="hidden" name="start_time" value="<%= @start_time %>">
  <input type="hidden" name="grid" value="<%= @grid %>">
  <input type="text" name="try" placeholder="Type your try here.">
  <input type="submit" value="See score!">
</form>
